<!doctype html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/><title>Document</title><script type="importmap">{
        "imports": {
          "react": "https://cdn.jsdelivr.net/npm/react@19.1.0/+esm",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@19.1.0/+esm"
        }
      }</script><script type="module">import React from 'react';
      import ReactDOM from 'react-dom';
      window.React = React;
      window.ReactDOM = ReactDOM;</script><link rel="icon" href="favicon.ico"><script defer="defer" src="scripts/main.5de5e.bundule.js"></script><link href="styles/main.6f8df.css" rel="stylesheet"></head><body><div id="app"></div></body></html>